<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/users']">
      <mat-icon>person</mat-icon>
      <span>Lista Usuários</span>
    </button>
    <button mat-menu-item [routerLink]="['/users/form']">
      <mat-icon>assignment_ind</mat-icon>
      <span>Cadastro Usuário</span>
    </button>
  </mat-menu>
  <span>Desafio Angular DIO</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="onAlternateTheme()">
    <mat-icon *ngIf="!isLightMode">light_mode</mat-icon>
    <mat-icon *ngIf="isLightMode">dark_mode</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
