.container {
  min-height: calc(100vh - 96px);
  border-radius: 0;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: calc(50% - 4px);
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;

  button {
    width: 120px;
  }
}
